<div class="modal-header">
  <h2 class="text-center modal-title">Editar jornada</h2>
  <a (click)="closeModel()">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square"
      viewBox="0 0 16 16">
      <path
        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
    </svg>
  </a>
</div>
<!-- Cuerpo del modal -->
<div class="modal-body">
  <form [formGroup]="editarJornada" (ngSubmit)="editJornada()" class="col-12 border border-dark">
    <div class="row py-4 px-2" *ngIf="jornada != undefined">
      <div class="col-12">
        <div class="row d-flex align-items-center py-3">
          <div class="col-4 fw-bold d-flex justify-content-end">
            <label for="fecha" class="form-label fw-bold m-0">Fecha</label>
          </div>
          <div class="col-8">
            <input type="date" formControlName="fecha" id="fecha" [(ngModel)]="jornada.fecha_jornada"
              class="col-12 form-control" (ngModelChange)="onChanges()">
            <div class="col-12 col-xl-12 text-danger bg-white rounded border border-2 border-danger p-2"
              *ngIf="submitted && formulario['fecha'].errors">
              <div *ngIf="formulario['fecha'].errors['required']">La fecha no puede estar vacía.</div>
            </div>
            <div class="col-12 col-xl-12 text-danger bg-white rounded border border-2 border-danger p-2"
              *ngIf="comprobarFecha()">
              <div>No se puede introducir una fecha superior a la de hoy. </div>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-center py-3">
          <div class="col-4 fw-bold d-flex justify-content-end">
            <label for="actividades_realizadas" class="form-label fw-bold m-0">Actividades realizadas</label>
          </div>
          <div class="col-8">
            <textarea name="" formControlName="actividad" [(ngModel)]="jornada.actividades" id="actividades_realizadas"
              class="col-12 form-control" (ngModelChange)="onChanges()"></textarea>
            <div class="col-12 col-xl-12 text-danger bg-white rounded border border-2 border-danger p-2"
              *ngIf="submitted && formulario['actividad'].errors">
              <div *ngIf="formulario['actividad'].errors['required']">Las actividades no pueden estar vacías. </div>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-center py-3">
          <div class="col-4 fw-bold d-flex justify-content-end">
            <label for="observaciones" class="form-label fw-bold m-0">Observaciones:</label>
          </div>
          <div class="col-8">
            <textarea name="" formControlName="observaciones" [(ngModel)]="jornada.observaciones" id="observaciones"
              class="col-12 form-control" (ngModelChange)="onChanges()"></textarea>
          </div>
        </div>

        <div class="row d-flex align-items-center py-3">
          <div class="col-4 fw-bold d-flex justify-content-end">
            <label for="tiempo_empleado" class="form-label fw-bold m-0">Tiempo empleado:</label>
          </div>
          <div class="col-8">
            <input type="number" formControlName="horas" [(ngModel)]="jornada.tiempo_empleado" name=""
              id="tiempo_empleado" class="col-8 form-control" (ngModelChange)="onChanges()">
            <div class="col-12 col-xl-12 text-danger bg-white rounded border border-2 border-danger p-2"
              *ngIf="submitted && formulario['horas'].errors && formulario['horas'].errors['required']">
              Las horas no pueden estar vacías.
            </div>
            <div class="col-12 col-xl-12 text-danger bg-white rounded border border-2 border-danger p-2"
              *ngIf="submitted && formulario['horas'].errors && formulario['horas'].errors['max']">
              No se pueden añadir más de 10 horas diarias.
            </div>
          </div>
        </div>
        <!-- Botones -->
        <div class="row d-flex justify-content-center pt-2">
          <div class="col-xl-5 col-5">
            <div class="row">
              <input type="submit" value="Guardar jornada" name="guardar" class="btn btn-primary col-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
