<div class="modal-header">
  <h2 class="text-center modal-title">Añadir jornada</h2>
  <a (click)="closeModel()">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square"
      viewBox="0 0 16 16">
      <path
        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
    </svg>
  </a>
</div>
<!-- Cuerpo del modal -->
<div class="modal-body">
  <p class="text-center">Recuerda subir el documento en formato PDF.</p>
  <form class="col-12">
    <div class="row d-flex justify-content-center">
      <input type="file" id="file" (change)="subirArchivo($event)" accept=".pdf" class="col-12 text-center">
    </div>

    <div class="row p-2" [hidden]="this.usuario?.isProfesor()">
      <div class="col-12 form-check">
        <input class="form-check-input" type="checkbox" value="" id="checked">
        <label class="form-check-label" for="flexCheckChecked">
          Adjunta firma del tutor de la empresa
        </label>
      </div>
    </div>

    <div class="row  d-flex justify-content-center">
      <button tittle="aceptar" (click)="aceptarArchivo()" class="col-4 text-center btn btn-outline-warning"
        ngbTooltip="Aceptar" aria-label="Aceptar">
        Aceptar
      </button>
    </div>


  </form>
</div>
