//Colores de la paleta
$dark: #09192b;
$light: #e5ebf2;
$primary: #225082;
$secondary: #428bca;
$info: #1c5769;
$warning: #7b4c09;
$success: #295b29;
$danger: #af130d;

//Colores para las píldoras de navegación
$nav-pills-link-active-bg: $primary;

//Color de fondo de las tablas
$table-bg: white;
$table-bg-scale: 0%;
