<div class="modal-header">
    <h1 class="modal-title fs-2">Manual para subir AnexoII y IV </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseModal()"></button>
</div>
<div class="modal-body">
    <p class="text-info"><b>Esto es una ayuda para poder subir los anexos II Y IV</b></p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h2 class="fs-4 text-info">Vistazo general</h2>
            <p>Esta vista muestra un desplegable, en el que elegiremos el tipo de anexo a subir, un buscador de archivos y un botón de aceptar los cambios
            </p>
        </li>
    </ul>

    <ul class="list-group list-group-flush">
        <p class="text-info pt-3 fw-underline"><b>Explicación. Pasos previos a seguir para subir el archivo:</b></p>
        <li class="pt-3 list-group-item">
            <p>1. Lo primero que debemos hacer es llamar a nuestro documento Anexo2 o Anexo4 con la extensión .docx
            </p>
            <img class="pb-3 img-fluid me-3" src="../../../../assets/Manuales/anexos-2y4/plantilla.png" alt="Esto nos muestra el nombre y extension del documento a subir">
            <p>2. En segundo lugar, debemos rellenar la cabeceras del anexo que queramos rellenar con estos datos:
            </p>
            <p><b>Anexo 2:</b></p>
            <img class="pb-3 img-fluid me-3" src="../../../../assets/Manuales/anexos-2y4/anexo2.png" alt="Esto nos muestra el contenido que deben tener las cabeceras en el anexo2">
            <p><b>Anexo 4:</b></p>
            <img class="pb-3 img-fluid me-3" src="../../../../assets/Manuales/anexos-2y4/anexo4.png" alt="Esto nos muestra el contenido que deben tener las cabeceras en el anexo4">
            <p>3. Finalmente, debemos rellenar la tabla con los contenidos adecuados antes de subir la plantilla
            </p>
        </li>
        <p class="text-info pt-3 fw-underline"><b>Explicación del entorno y pasos para subir un archivo:</b></p>
        <li class="pt-3 list-group-item">
            <p>1. El buscador de archivos, te permite buscar el archivo a subir de tu ordenador</p>
            <img class="pb-3 img-fluid me-3" src="../../../../assets/Manuales/anexos-2y4/browse.png" alt="Esto nos permite elegir el archivo que vamos a subir">
            <p>Es tan simple como elegir tu archivo y hacer click en Open</p>
            <img class="pb-3 img-fluid me-3" src="../../../../assets/Manuales/anexos-2y4/browse2.png" alt="Estos son los pasos para elegir y subir un archivo">
        </li>
        <li class="pt-3 list-group-item">
            <p>2. Cuando todo este listo, hacer click en este boton para generar los anexos</p>
            <img class="pb-3 img-fluid me-3" src="../../../../assets/Manuales/anexos-2y4/aceptar.png" alt="Esto nos permite elegir el anexo que vamos a subir">
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-primary" (click)="CloseModal()">Volver</button>
</div>
