<footer class="d-flex flex-wrap justify-content-between align-items-center bg-dark user-select-none">
  <!--Información del centro-->
  <div class="col-md-4 d-flex align-items-center p-1">
    <p class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
      <svg class="bi" width="5rem" height="2rem">
        <use xlink:href="#logoCentro" />
      </svg>
    </p>
    <span class="text-white">&copy; CIFP Virgen de Gracia</span>
  </div>
  <!--Redes sociales-->
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-white" aria-label="Enlace a nuestro twitter"
        href="https://twitter.com/CIFPVirgen"><svg class="bi" width="24" height="24">
          <use xlink:href="#twitter" />
        </svg>
      </a>
    </li>
    <li class="ms-3"><a class="text-white" aria-label="Enlace a nuestro instagram"
        href="https://www.instagram.com/cifp_virgendegracia/"><svg class="bi" width="24" height="24">
          <use xlink:href="#instagram" />
        </svg>
      </a>
    </li>
    <li class="ms-3"><a class="text-white" aria-label="Enlace a nuestro facebook"
        href="https://www.facebook.com/cifpVirgen"><svg class="bi" width="24" height="24">
          <use xlink:href="#facebook" />
        </svg>
      </a>
    </li>
    <li class="ms-3"><a class="text-white" aria-label="Enlace a nuestra página"
        href="https://cifpvirgendegracia.com/"><svg class="bi" width="24" height="24">
          <use xlink:href="#web" />
        </svg>
      </a>
    </li>
  </ul>
</footer>
