<!--Títulos de las secciones-->
<div class="row">
    <div class="page-header d-flex justify-content-between pb-3">
        <h1 class="h2">Asignación de alumnos de {{nombreCiclo}} </h1>
        <button type="button" class="btn btn-outline-default mr-2" placement="left" ngbTooltip="Haga clic para acceder a la ayuda de esta sección" (click)="abrirAyuda()">?</button>
    </div>
</div>

<!--Contenido de las secciones-->
<div class="card p-3" cdkDropListGroup>
    <div class="row">
        <div class="col-sm-12">
            <div class="row bg-white p-2 rounded border-white">
                <!--Alumnos sin asignar-->
                <div class="col-md-4 col-sm-6 mt-1">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="h4">Alumnos</h2>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="card">
                                        <div class="card-body ps-3" cdkDropList [cdkDropListData]="alumnos" (cdkDropListDropped)="drop($event)">
                                            <div *ngFor="let alumno of alumnos" ngClass="alumnos h6 text-black bg-secondary rounded border-secondary row p-1 mb-2" attr.id="{{alumno.dni}}" cdkDrag>
                                                {{alumno.nombre}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Empresas-->
                <div class="col-md-8 col-sm-6 mt-1">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="h4">Empresas</h2>
                            <div class="row">
                                <div class="col">
                                    <div *ngFor="let empresa of empresas" ngClass="row mb-2 bg-primary p-2 border border-primary rounded text-white" attr.id="{{empresa.id}}">
                                        <div class="col">
                                            <label class="row" for="responsable{{empresa.dni_responsable}}">
                        <h3 class="col-4 h5">{{empresa.nombre}}</h3>
                        <span class="col-4 text-end" for="responsableEmpresa">Responsable de la empresa:</span>
                        <input aria-label="responsable de la empresa" class="col-4" type="text"
                          id="responsable{{empresa.dni_responsable}}" [(ngModel)]="empresa.nombre_responsable">
                      </label>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div cdkDropList [cdkDropListData]="empresa.alumnos" class="py-3" (cdkDropListDropped)="drop($event)">
                                                        <div *ngFor="let alumno2 of empresa.alumnos" ngClass="alumnos text-white bg-secondary rounded border-secondary row p-1 mb-2" attr.id="{{alumno2.dni}}" cdkDrag>
                                                            <span class="h6 text-black col-12 col-md-3">{{alumno2.nombre}}</span>
                                                            <input aria-label="horario del alumno" class="col-12 col-md-3" placeholder="Horario" type="text" [(ngModel)]="alumno2.horario">
                                                            <input aria-label="fecha de inicio de prácticas" class="col-12 col-md-3" type="date" [(ngModel)]="alumno2.fecha_ini">
                                                            <input aria-label="fecha de fin de prácticas" class="col-12 col-md-3" type="date" [(ngModel)]="alumno2.fecha_fin">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngFor="let anexo of anexos; index as i" class="row d-flex justify-content-center">
                                                <input *ngIf="empresa.nombre==anexo.id_empresa  && this.hayAlumnosEnEmpresas==true" type="button" class="col-12 col-lg-5 btn btn-outline-light m-1" value="Subir Anexo" (click)="abrirModalUpload(anexo.codigo) ">
                                                <input *ngIf="empresa.nombre==anexo.id_empresa  && this.hayAlumnosEnEmpresas==true" type="button" class="col-12 col-lg-5 btn btn-outline-light m-1" (click)="descargarAnexo(anexo.codigo)" value="Descargar Anexo">
                                            </div>
                                            <div *ngIf="this.hayAlumnosEnEmpresas==false" class="row d-flex justify-content-center">
                                                <input type=" button" class="col-12 col-lg-5 btn btn-outline-light m-1" value="Subir Anexo" disabled>
                                                <input type=" button" class="col-12 col-lg-5 btn btn-outline-light m-1" value="Descargar Anexo" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Botones-->
                    <div *ngIf="this.hayAlumnosEnEmpresas==true" class="row d-flex justify-content-center">
                        <input type="button " class="col-12 col-lg-4 btn btn-outline-primary m-1 " value="Guardar" (click)='setCambiosEmpresas()'>
                        <input type="button " class="col-12 col-lg-4 btn btn-outline-primary m-1 " value="Generar Word" (click)='GenerarAnexos()'>
                    </div>
                    <div *ngIf="this.hayAlumnosEnEmpresas==false" class="row d-flex justify-content-center">
                        <input type="button " class="col-12 col-lg-4 btn btn-outline-primary m-1 " value="Guardar" (click)='setCambiosEmpresas()'>
                        <input type="button " class="col-12 col-lg-4 btn btn-outline-primary m-1 " value="Generar Word" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>