<!-- Ver Usuario -->
<div class="card" *ngIf="this.numero == '0'">
  <div class="modal-header">
    <h1 class="modal-title fs-4">Perfil de {{profesor[0].nombre}} </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseModal()"></button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <form class="needs-validation">
      <!-- Datos -->
      <div class="row g-3">
        <div class="col-md-4">
          <label for="nombre" class="form-label"><b>Nombre:</b></label>
          <input type="text" class="form-control-plaintext" id="nombre" value="{{profesor[0].nombre}}" readonly>
        </div>

        <div class="col-md-8">
          <label for="apellido" class="form-label"><b>Apellido:</b></label>
          <input type="text" class="form-control-plaintext" id="apellido" value="{{profesor[0].apellidos}}" readonly>
        </div>

        <div class="col-md-4">
          <label for="dni" class="form-label"><b>DNI:</b></label>
          <input type="text" class="form-control-plaintext" id="dni" value="{{profesor[0].dni}}" readonly>
        </div>

        <div class="col-md-8">
          <label for="email_profesor" class="form-label"><b>Email:</b></label>
          <input type="text" class="form-control-plaintext" id="email_profesor" value="{{profesor[0].email}}" readonly>
        </div>
      </div>

      <hr class="my-3">
      <!-- Roles -->
      <div class="row g-3">
        <label for="roles" class="form-label"><b>Roles:</b></label>
        <div class="col-md-4" *ngFor="let p of profesor; index as i">
          <div class="col-md-9" *ngFor="let r of p.roles; index as i">
            <div *ngIf="r==1">
              <input type="text" class="form-control-plaintext" id="roles" value="Director">
            </div>
            <div *ngIf="r==2">
              <input type="text" class="form-control-plaintext" id="roles" value="Jefe de estudios">
            </div>
            <div *ngIf="r==3">
              <input type="text" class="form-control-plaintext" id="roles" value="Tutor">
            </div>
            <div *ngIf="r==4">
              <input type="text" class="form-control-plaintext" id="roles" value="Profesor">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- #region  Crear Usuario -->
<div class="card" *ngIf="this.numero == '1'">
  <div class="modal-header">
    <h1 class="modal-title fs-4">Crear Usuario: </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseModal()"></button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" novalidate="" [formGroup]="datosProfesor" (ngSubmit)="onSubmitCreate()">
      <!-- #region Datos -->
      <div class="row g-3">
        <div class="col-md-8 pb-2">
          <label for="nombre" class="form-label"><b>Nombre:</b></label>
          <input type="text" class="form-control" id="nombre" placeholder="Maria" formControlName="nombre">
          <div *ngIf="submitted && formulario['nombre'].errors"
            class="text-danger bg-white rounded border border-2 border-danger p-2">
            <div *ngIf="formulario['nombre'].errors['required']">El nombre no puede estar vacio</div>
          </div>
        </div>
      </div>

      <div class="col-md-8 pb-2">
        <label for="apellido" class="form-label"><b>Apellido:</b></label>
        <input type="text" class="form-control" id="apellido" placeholder="Fernandez" formControlName="apellido">
        <div *ngIf="submitted && formulario['apellido'].errors"
          class="text-danger bg-white rounded border border-2 border-danger p-2">
          <div *ngIf="formulario['apellido'].errors['required']">El apellido no puede estar vacio</div>
        </div>
      </div>

      <div class="col-md-8 pb-2">
        <label for="dni" class="form-label"><b>DNI:</b></label>
        <input type="text" class="form-control" id="dni" placeholder="00000000X" formControlName="dni" pattern="[0-9]{8}[A-Za-z]{1}">
        <div *ngIf="submitted && formulario['dni'].errors"
          class="text-danger bg-white rounded border border-2 border-danger p-2">
          <div *ngIf="formulario['dni'].errors['required']">El dni no puede estar vacio</div>
          <div *ngIf="formulario['dni'].errors['pattern']">  Este campo es obligatorio (un DNI válido tiene 8 números y una letra)</div>
        </div>
      </div>

      <div class="col-md-8 pb-2">
        <label for="email" class="form-label"><b>Email:</b></label>
        <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com" formControlName="email">
        <div *ngIf="submitted && formulario['email'].errors"
          class="text-danger bg-white rounded border border-2 border-danger p-2">
          <div *ngIf="formulario['email'].errors['required']">El email no puede estar vacio</div>
          <div *ngIf="formulario['email'].errors['email']">El email debe ser un email valido</div>
        </div>
      </div>


      <div class="row g-3 pb-2">
        <div class="col-md-4">
          <label for="password1" class="form-label"><b>Contraseña:</b></label>
          <input type="password" class="form-control" id="password1" formControlName="password1"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}">
          <div *ngIf="submitted && formulario['password1'].errors"
            class="text-danger bg-white rounded border border-2 border-danger p-2">
            <div *ngIf="formulario['password1'].errors['required']"> La contraseña no puede estar vacia</div>
            <div *ngIf="formulario['password1'].errors['pattern']">La contraseña debe tener al menos un dígito, una
              minúscula, una mayúscula y tener como mínimo 5 caracteres</div>
          </div>
        </div>

        <div class="col-md-8 pb-2">
          <label for="password2" class="form-label"><b>Repite la Contraseña:</b></label>
          <input type="password" class="form-control" id="password2" formControlName="password2">
          <div *ngIf="submitted && formulario['password2'].errors"
            class="text-danger bg-white rounded border border-2 border-danger p-2"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}">
            <div *ngIf="formulario['password2'].errors['required']"> La contraseña no puede estar vacia</div>
            <div *ngIf="formulario['password2'].errors['pattern']">La contraseña debe tener al menos un dígito, una
              minúscula, una mayúscula y tener como mínimo 5 caracteres</div>
          </div>
        </div>
        <!-- #endregion -->
        <!-- #region Roles -->
        <p class="form-label"><b>Roles:</b></p>
        <div class="col pb-2 d-flex justify-content-between" id="rolesUsers">
          <label for="cbox1"><input type="checkbox" id="cbox1" value="1"> Director</label>
          <label for="cbox2"><input type="checkbox" id="cbox2" value="2"> Jefe de estudios</label>
          <label for="cbox3"><input type="checkbox" id="cbox3" value="3"> Tutor</label>
          <label for="cbox4"><input type="checkbox" id="cbox4" value="4" checked> Profesor</label>
        </div>
        <!-- #endregion -->
      </div>
      <hr class="my-3">
      <div class="row d-flex align-items-center justify-content-center modal-footer">
        <input class="w-50 btn btn-primary btn-md" type="submit" value="Crear Usuario">
      </div>
    </form>
  </div>
</div>
<!-- #region Crear Usuario -->

<!-- Editar Usuario -->
<div class="card" *ngIf="this.numero == '2'">
  <div class="modal-header">
    <h1 class="modal-title fs-4">Editar Profesor: </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseModal()"></button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" novalidate="" [formGroup]="datosProfesor" (ngSubmit)="onSubmitEdit()">
      <!-- #region Datos -->
      <div class="row g-3">
        <div class="col-md-8 pb-2">
          <label for="nombre" class="form-label"><b>Nombre:</b></label>
          <input type="text" class="form-control" id="nombre" placeholder="Maria" formControlName="nombre">
          <div *ngIf="submitted && formulario['nombre'].errors"
            class="text-danger bg-white rounded border border-2 border-danger p-2">
            <div *ngIf="formulario['nombre'].errors['required']">El nombre no puede estar vacio</div>
          </div>
        </div>
      </div>

      <div class="col-md-8 pb-2">
        <label for="apellido" class="form-label"><b>Apellido:</b></label>
        <input type="text" class="form-control" id="apellido" placeholder="Fernandez" formControlName="apellido">
        <div *ngIf="submitted && formulario['apellido'].errors"
          class="text-danger bg-white rounded border border-2 border-danger p-2">
          <div *ngIf="formulario['apellido'].errors['required']">El apellido no puede estar vacio</div>
        </div>
      </div>

      <div class="col-md-8 pb-2">
        <label for="dni" class="form-label"><b>DNI:</b></label>
        <input type="text" class="form-control" id="dni" placeholder="00000000X" formControlName="dni" pattern="[0-9]{8}[A-Za-z]{1}">
        <div *ngIf="submitted && formulario['dni'].errors"
          class="text-danger bg-white rounded border border-2 border-danger p-2">
          <div *ngIf="formulario['dni'].errors['required']">El dni no puede estar vacio</div>
          <div *ngIf="formulario['dni'].errors['pattern']">  Este campo es obligatorio (un DNI válido tiene 8 números y una letra)</div>
        </div>
      </div>

      <div class="col-md-8 pb-2">
        <label for="email" class="form-label"><b>Email:</b></label>
        <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com" formControlName="email">
        <div *ngIf="submitted && formulario['email'].errors"
          class="text-danger bg-white rounded border border-2 border-danger p-2">
          <div *ngIf="formulario['email'].errors['required']">El email no puede estar vacio</div>
          <div *ngIf="formulario['email'].errors['email']">El email debe ser un email valido</div>
        </div>
      </div>

      <div class="row g-3 pb-2">
        <div class="col-md-4">
          <label for="password1" class="form-label"><b>Contraseña:</b></label>
          <input type="password" class="form-control" id="password1" formControlName="password1"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}">
          <div *ngIf="submitted && formulario['password1'].errors"
            class="text-danger bg-white rounded border border-2 border-danger p-2">
            <div *ngIf="formulario['password1'].errors['required']"> La contraseña no puede estar vacia</div>
            <div *ngIf="formulario['password1'].errors['pattern']">La contraseña debe tener al menos un dígito, una
              minúscula, una mayúscula y tener como mínimo 5 caracteres</div>
          </div>
        </div>

        <div class="col-md-8 pb-2">
          <label for="password2" class="form-label"><b>Repite la Contraseña:</b></label>
          <input type="password" class="form-control" id="password2" formControlName="password2"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}">
          <div *ngIf="submitted && formulario['password2'].errors"
            class="text-danger bg-white rounded border border-2 border-danger p-2">
            <div *ngIf="formulario['password2'].errors['required']"> La contraseña no puede estar vacia</div>
            <div *ngIf="formulario['password2'].errors['pattern']">La contraseña debe tener al menos un dígito, una
              minúscula, una mayúscula y tener como mínimo 5 caracteres</div>
          </div>
        </div>
        <!-- #endregion -->
        <!-- #region Roles -->
        <p class="form-label"><b>Roles:</b></p>
        <div class="col pb-2 d-flex justify-content-between" id="rolesUsers">
          <label for="cbox1"><input type="checkbox" id="cbox1" value="1"> Director</label>
          <label for="cbox2"><input type="checkbox" id="cbox2" value="2"> Jefe de estudios</label>
          <label for="cbox3"><input type="checkbox" id="cbox3" value="3"> Tutor</label>
          <label for="cbox4"><input type="checkbox" id="cbox4" value="4"> Profesor</label>
        </div>
        <!-- #endregion -->
      </div>
      <hr class="my-3">
      <div class="row d-flex align-items-center justify-content-center modal-footer">
        <input class="w-50 btn btn-primary btn-md" type="submit" value="Guardar cambios">
      </div>
    </form>
  </div>
</div>
